<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>SEDARI-IDM</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <div class="content">
    
    <div class="container-fluid" id="wrapper">
      
      <div class="row header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main">
        <div class="container-fluid">
          <h2>Login with <%= auth_type %></h2>
          <form class="form-horizontal" method="post">
            <% for(var i=0; i<fields.length; i++) { %>
               <div class="form-group">
                 <div class="container-fluid">
                   <label for="inputScreenName" class="col-sm-2 control-label"><%= fields[i].label %></label>
                   <div class="col-sm-10">
                     <input type="<%= fields[i].type %>" class="form-control" id="inputScreenName" placeholder="<%= fields[i].label %>" name="<%= fields[i].name %>">
                   </div>
                 </div>
               </div>
		       <% } %>
                 <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                    </div>
                 </div> -->
               <div class="form-group">
                 <div class="container-fluid">
                   <div class="col-sm-offset-9 col-sm-3">
                     <button type="submit" class="btn btn-primary" style="width:100%">Sign in</button>
                   </div>
                 </div>
               </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row footer row-centered">
        <p class="text-muted">
          <div class="col-xs-2 col-xs-offset-1"><img id="forsec_logo" class="logo" src="/static/img/forsec_logo.jpg"></div>
          <div class="col-xs-2"><img id="actlab_logo" class="logo" src="/static/img/actlab_logo.png"></div>
          <div class="col-xs-2"><img id="compose_logo" class="logo" src="/static/img/compose_logo.png"></div>
          <div class="col-xs-2"><img id="agile_logo" class="logo" src="/static/img/agile_logo.png"></div>
          <div class="col-xs-2"><img id="unipassau_logo" class="logo" src="/static/img/unipassau_logo.png"></div>
        </p>
      </div>
    </div>
    
    </div>
  </body>
</html>
